/* 
    Document   : scrollable.css
    Created on : 10-Jul-2011, 22:42:03
    Author     : luke
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.jquery_tools_ui_scrollable { position: relative; border: 1px solid #ccc;}

.jquery_tools_ui_scrollable .scrollable { position: relative; overflow: hidden; width:924px; height: 200px; }

.jquery_tools_ui_scrollable .scrollable .items { position: absolute; width: 99999px; padding: 0 60px;}

.jquery_tools_ui_scrollable .scrollable .items img { padding: 5px 15px; float: left;}

.jquery_tools_ui_scrollable .items .item { float: left; }

.jquery_tools_ui_scrollable a.button.left,

.jquery_tools_ui_scrollable a.button.right { position: absolute; height: 100%; display: block;  width: 60px; z-index: 20; background-color: #fff; } 

.jquery_tools_ui_scrollable a.button.right {  top: 0; right: 0; }

.jquery_tools_ui_scrollable a.button.left {  top: 0; left: 0; }
