/* 
    Document   : tabs.css
    Created on : 10-Jul-2011, 22:42:03
    Author     : luke
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.jquery_tools_ui_tabs ul.tabs_nav { overflow: hidden; }

.jquery_tools_ui_tabs ul.tabs_nav li { float: left; display: block; padding: 10px; }

